---
layout: sidebar-layout
title: Blog
---

<div class="blog-index">
  <h1>{{ page.title }}</h1>
  
  <div class="categories">
    <h3>Categories:</h3>
    <ul>
      <li><a href="/blog/categories/music-reviews">Music Reviews</a></li>
      <li><a href="/blog/categories/mood-journals">Mood Journals</a></li>
      <li><a href="/blog/categories/learning-progress">Learning Progress</a></li>
    </ul>
  </div>

  {% for post in paginator.posts %}
  <article class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    
    <div class="categories">
      {% for category in post.categories %}
      <span class="category"><a href="/blog/categories/{{ category | slugify }}">{{ category }}</a></span>
      {% endfor %}
    </div>
    
    <div class="excerpt">
      {{ post.excerpt }}
    </div>
    
    <a href="{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  </div>
</div> 